<div id="<%= dom_id orderdetail %>">
  <p>
    <strong>Detnum:</strong>
    <%= orderdetail.detnum %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= orderdetail.amount %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= orderdetail.price %>
  </p>

</div>
