<h1>注文データ更新</h1>

<%= render "form", order: @order %>

<br>

<div style="margin: auto;text-align: right;">
  <div style="margin-left:auto;margin-right: 0;display: inline-block;">
    <%= link_to "表示", @order, class:"btn btn-secondary" %>
  </div>
  <div style="margin-left:0;margin-right: auto;display: inline-block;">
    <%= link_to "戻る", orders_path, class:"btn btn-secondary" %>
  </div>
</div>

