<h1>在庫</h1>

<table class="table table-hover table-striped table-bordered">
  <thead class="table-dark">
    <th>店舗ID</th>
    <th>ISBN</th>
    <th>在庫数</th>
    <th>ブロック</th>
    <th>詳細</th>
  </thead>

  <tbody>
    <div id="storages">
      <% @storages.each do |storage| %>
      <%= render storage %>
      <% end %>
    </div>
  </tbody>
</table>



<!--
<%= link_to "New storage", new_storage_path %>
-->